@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-extrabold.eot');
	src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
		url('gilroy-extrabold.eot') format('embedded-opentype'),
		url('gilroy-extrabold.woff') format('woff'),
		url('gilroy-extrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-ultralightitalic.eot');
	src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
		url('gilroy-ultralightitalic.eot') format('embedded-opentype'),
		url('gilroy-ultralightitalic.woff') format('woff'),
		url('gilroy-ultralightitalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-bolditalic.eot');
	src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
		url('gilroy-bolditalic.eot') format('embedded-opentype'),
		url('gilroy-bolditalic.woff') format('woff'),
		url('gilroy-bolditalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-semibold.eot');
	src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
		url('gilroy-semibold.eot') format('embedded-opentype'),
		url('gilroy-semibold.woff') format('woff'),
		url('gilroy-semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-blackitalic.eot');
	src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
		url('gilroy-blackitalic.eot') format('embedded-opentype'),
		url('gilroy-blackitalic.woff') format('woff'),
		url('gilroy-blackitalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-thinitalic.eot');
	src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
		url('gilroy-thinitalic.eot') format('embedded-opentype'),
		url('gilroy-thinitalic.woff') format('woff'),
		url('gilroy-thinitalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-extrabolditalic.eot');
	src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'),
		url('gilroy-extrabolditalic.eot') format('embedded-opentype'),
		url('gilroy-extrabolditalic.woff') format('woff'),
		url('gilroy-extrabolditalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('gilroy-black.eot') format('embedded-opentype'),
		url('gilroy-black.woff') format('woff'),
		url('gilroy-black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-heavyitalic.eot');
	src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
		url('gilroy-heavyitalic.eot') format('embedded-opentype'),
		url('gilroy-heavyitalic.woff') format('woff'),
		url('gilroy-heavyitalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
		url('gilroy-regular.eot') format('embedded-opentype'),
		url('gilroy-regular.woff') format('woff'),
		url('gilroy-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-semibolditalic.eot');
	src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'),
		url('gilroy-semibolditalic.eot') format('embedded-opentype'),
		url('gilroy-semibolditalic.woff') format('woff'),
		url('gilroy-semibolditalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-medium.eot');
	src: local('Gilroy Medium'), local('Gilroy-Medium'),
		url('gilroy-medium.eot') format('embedded-opentype'),
		url('gilroy-medium.woff') format('woff'),
		url('gilroy-medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-bold.eot');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
		url('gilroy-bold.eot') format('embedded-opentype'),
		url('gilroy-bold.woff') format('woff'),
		url('gilroy-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-regularitalic.eot');
	src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
		url('gilroy-regularitalic.eot') format('embedded-opentype'),
		url('gilroy-regularitalic.woff') format('woff'),
		url('gilroy-regularitalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-light.eot');
	src: local('Gilroy Light'), local('Gilroy-Light'),
		url('gilroy-light.eot') format('embedded-opentype'),
		url('gilroy-light.woff') format('woff'),
		url('gilroy-light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-lightitalic.eot');
	src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
		url('gilroy-lightitalic.eot') format('embedded-opentype'),
		url('gilroy-lightitalic.woff') format('woff'),
		url('gilroy-lightitalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-heavy.eot');
	src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
		url('gilroy-heavy.eot') format('embedded-opentype'),
		url('gilroy-heavy.woff') format('woff'),
		url('gilroy-heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-mediumitalic.eot');
	src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
		url('gilroy-mediumitalic.eot') format('embedded-opentype'),
		url('gilroy-mediumitalic.woff') format('woff'),
		url('gilroy-mediumitalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('gilroy-thin.eot');
	src: local('Gilroy Thin'), local('Gilroy-Thin'),
		url('gilroy-thin.eot') format('embedded-opentype'),
		url('gilroy-thin.woff') format('woff'),
		url('gilroy-thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
